@media only screen and (max-width:1150px) {
    .navbar {
        flex-direction: column;
    }

    .left-nav {
        flex-direction: column;
    }

    .right-nav {
        text-align: center;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav {
        height: 72px;
    }

    .v-rsep {
        opacity: 0;
    }

}